@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    width: 90%;
    max-width: 500px;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

.head-btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    user-select: none;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.head-btn button {
    padding: 0;
    border-radius: 0;
    background: none;
}

.head-btn button:hover {
    background: none;
}

.head-btn button img {
    width: 20px;
    height: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

p.head-desc {
    font-size: 1.2em;
    margin-bottom: 20px;
}

p {
    color: #555;
}

hr {
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

#assigned-roles-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.role-display-button {
    background-color: #333;
    flex: 1 1 calc(50% - 20px);
    margin: 5px 0;
    padding: 15px;
}

.role-display-button.seen {
    background-color: #ccc;
}

.role-display-button:hover {
    background-color: #555 !important;
}

.manual-adjustment-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.manual-adjustment-button:hover:not(:disabled) {
    background-color: #218838 !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close-button {
    color: #f00;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #c70000;
}

.go-dashboard-button {
    background-color: transparent;
    color: #0754ed;
    border: solid 3px #0754ed;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.go-dashboard-button:hover:not(:disabled) {
    background-color: #0754ed !important;
    color: #fff;
}